
@import './variables';
@import './mixins';

body{
  font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
  color: $font-dark-color;
  background-color: $body-bgcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,div,ul,ol,li{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

ul,ol,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
// /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
// ::-webkit-scrollbar
// {
//     width: 4px;
//     height: 4px;
//     background-color: #F5F5F5;
// }

// /*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track
// {
//     -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
//     border-radius: 10px;
//     background-color: #F5F5F5;
// }

// /*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb
// {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
//     background-color: #aaa;
// }

.iconfont, span, img{
  vertical-align: middle;
}

/* 链接样式 */
.link{
  color: $link-color;
}
/* 右箭头 */
.u-rightArrow{
  color: $arrow-right-color;
}

.clearfix {
  @include clearfix();
}
.border-1px{
  @include border-1px($border-color)
}

/* 卡列表 */
.m-card-wrapper{
  margin-bottom: 70px;
}

