
/*
 * 全局定义
 */

 // 占位颜色
 $default-bgcolor: #f5f5f9;

 // 主题文字颜色（深/浅）
$font-dark-color: #1e3147;
$font-light-color: #9ba7b6;
 // 主题背景
$body-bgcolor: #fafafa;
// 链接颜色
$link-color: #0076ff;
// 向右的箭头的颜色
$arrow-right-color: $font-dark-color;

// 1像素边框颜色
$border-color: #d8d8d8;
// 默认圆角大小
$default-radius: 4px;

// 左右边距
$margin-width: 16px;

// 导航栏
$nav-bgcolor: #fff;
$nav-color: #333;
$nav-height: 46px;
$sider-fold-width: 42px;
$sider-width: 224px;
$nav-hover-color: #108ee9;
$nav-hover-bgcolor: rgba(16,142,233,.15);

// 阴影颜色
$shadow-nav-color: #eaeaea;
$shadow-sider-color: #f9f9f9;

/* 侧边栏主题背景 */
$dark-theme-bg-color: #3f3f3f;
$dark-theme-font-color: #ddd;
$light-theme-bg-color: #fefefe;
$light-theme-font-color: #303030;
$sider-hover-color: $nav-hover-color;
$sider-hover-bgcolor: $nav-hover-bgcolor;

@mixin dark-theme{
  background-color: $dark-theme-bg-color;
  color: $dark-theme-font-color;
}

@mixin light-theme{
  background-color: $light-theme-bg-color;
  color: $light-theme-font-color;
}

